---
# This configuration file is read by default when executing clarity-ext

test_root_path: ./clarity_ext_scripts/int_tests

# Since the frozen test data contains potentially sensitive info
# (request/responses), it's kept in another repo.
frozen_root_path: ../clarity-ext-frozen

exec_root_path: .

